/* algunos ejemplos con CSS */
body, header, footer, div, h1, h2, ul, li, a { 
	margin:0.7em; padding:0;
}
header {
	background-color:#008500;
	color:#ffffff;
}
nav ul li a{
	text-decoration:none;
	color:#fff;
	margin:10px;
}


.activo { 
  font-weight: bold; 

}
.impar { 
	background-color:#90EE90; 
}
.par { 
	background-color:#5ACC5A; 
}

span {
float:right;
font-weight: bold; 
color:white;

}
span a {
color:white;

}



.tipo {color:#black;}

/*
version: 2.4.1
*/

body {
	width:800px;
	text-align:left;
	background:Cyan;
	margin:0 auto;
}

html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{padding:0;}table{border-collapse:collapse;border-spacing:0;}

fieldset,img{border:1px;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

q:before,q:after{content:'';}

abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}

input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}

legend{color:#000;}

body{font:16px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}






