<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>Recetario RICO RICO - {% block titulo %}{% endblock %}</title>
  <link rel='stylesheet' href='base.css'>
  
  {% block css %}{% endblock %}

</head>
<body>
  <header>
	{% block encabezado %}{% endblock %}
	
	{% if user.is_authenticated %}
	
	<span><li><a href='/usuario/nuevo'>Alta</a></li></span>
	<span><li><a href='/cerrar'>Logout</a></li></span>
	
	{% else %}
	
	<span><li><a href='nuevousuario.php'>Alta</a></li></span>
	<span><li><a href='/ingresar'>Login</a></li></span>
	
	{% endif %}

	<nav>
	  <ul id='menu'>
		  <li><a href='./'>Inicio</a></li>
		  <li><a href='nueva.php'>Nueva Receta</a></li>
		  <li><a href='recetas.php'>Recetas</a></li>
		  <li><a href="buscar.php">Buscar</a></li>
		  	
    </ul>
    
	</nav>
	

	<hr>
  </header>	
  <section class='contenido'>
	{% block contenido %}{% endblock %}
  </section>
  <footer>
	<p>Proyecto Recetas Sergio Gil Lacima</p>
  </footer>
</body>
</html>