{% extends "base.html" %}

{% block content %}

	<h1>Búsqueda por {{ tipo }}</h1>

	{% if ingredientes %}
	
		{% for ingrediente in ingredientes %}
			{% for receta in ingrediente.cantidad_set.all %}
		
			<div class="item"><a href="/recetas/{{receta.receta_id}}/">
			{% if receta.receta.imagen %}
				<div class="imagen"><img src="{{MEDIA_URL}}{{ receta.receta.imagen }}" width="200" height="200"></div>
			{% else %}
				<div class="imagen"><img src="{% static 'images/default.png' %}" alt="default"></div>
			{% endif %}
				<p class="nombre">{{ receta.receta.nombre }}</a>
			</div>
		{% endfor %}
		{% endfor %}
		
	
	{% else %}
		<div class="item">No hay recetas</div>
	{% endif %}

{% endblock%}