{% extends 'base.html' %}

{% block titulo %} BUSCAR {% endblock %}

{% block encabezado %} 
  <h1>BUSCAR</h1>
{% endblock %}

{% block contenido %}
	<div id='elaboracion'>
		<h2>NOMBRE RECETA</h2>
		<form action="/nombre/" method="post">
		
			<p class="columna">Búsqueda por Nombre</p>
			<input type="text" name="nombre" class="busca_ingredientes">
			<input type="submit" class="busca_ingredientes">
		</form>
		
	</div>
	<div id='tipo'>
		<h2>TIPO</h2>
    	<ul>
			<li><a href="/entrantes/">Entrantes</a></li>
         	<li><a href="/primeros/">Primeros</a></li>
         	<li><a href="/segundos/">Segundos</a></li>
         	<li><a href="/postres/">Postres</a></li>
		</ul>
	</div>
	<div id='referencia'>
		<h2>INGREDIENTE</h2>
		<form action="/ingrediente/" method="post">
		
			<p class="columna">Búsqueda por ingrediente</p>
			<input type="text" name="ingrediente" class="busca_ingredientes">
			<input type="submit" class="busca_ingredientes">
		</form>
	</div>
	<div id='comentarios'>
		<h2>CREADOR RECETA</h2>
		<form action="/usuario/" method="post">
		
			<p class="columna">Búsqueda por Creador</p>
			<input type="text" name="usuario" class="busca_ingredientes">
			<input type="submit" class="busca_ingredientes">
		</form>	
	</div>

{% endblock %}