{% extends "base.html" %}

{% block contenido %}



<form id="form" name="form" action="nuevaReceta.php" method="post" >
	<h1>Formulario de ingreso de datos</h1>
	<p>Ingresa los datos de la receta.</p>
	<ul>
	<li>
	<label>Nombre:
	<span>Nombre receta</span>
	</label>
	<input name="nombre" value="{{ elNombre }}">
	</li><li>
	<label>Ingredientes:
	<span>Ingredientes de la receta</span>
	</label>
	<input name="ingredientes" value="{{ losIngredientes }}">
	</li><li>
	<label>Tipo:
	<span>Entrante, primero...</span>
	</label>
	<select name="tipo" value="{{ elTipo }}">
        <option> Entrante </option>
        <option> Primero </option>
        <option> Segundo </option>
        <option> Postre </option>
    </select><br/>
	</li>
		<li>
	<label>Minutos:
	<span>Minutos</span>
	</label>
	<select name="minutos">
        <option value="0"> 0 </option>
        <option value="15"> 15 </option>
        <option value="30"> 30 </option>
        <option value="45"> 45 </option>
    </select><br/>
	</li>
	<li>
	<label>Horas:
	<span>Horas</span>
	</label>
	<select name="horas">
        <option value="0"> 0 </option>
        <option value="1"> 1 </option>
        <option value="2"> 2 </option>
    </select><br/>
	</li>
	
		<li>
	<label>Fecha creacion:
	<span>Fecha creacion</span>
	</label>
	<input type='date' name='fecha_creacion'>
	</li>
	<li>
	<label>Fecha edicion:
	<span>Fecha edicion</span>
	</label>
	<input type='date' name='fecha_edicion'>
	</li>
	
	
	<li>
	<label>Elaboraci&#243;n:
	<span>Como elaborarlo</span>
	</label>
	<input name="elaboracion" value="{{ laElaboracion }}">
	</li><li>
	<label>Im&#225;gen:
	<span>Im&#225;gen</span>
	</label>
	<input type="file" name="imagen" value="{{ laImagen }}">
	</li><li>
    <br />
    <input  type="submit" value="enviar">
	<div class="spacer"></div>
	</li>
	</ul>
</form>


{% endblock %}