{% extends 'base.html' %}

{% block titulo %} Inicio {% endblock %}

{% block encabezado %} 
	<h1>Recetario RICO,RICO;) </h1>
{% endblock %}


{% block contenido %}

{% if recetas %}

  <p>
	  Actualmente tenemos registradas:
  </p>
	<ul>		
	  {% for dato in recetas %}
	  <li class="">{{ dato.nombre }}</li>
	  {% endfor %}
	</ul>
	
{% else %}
		<div class="item">No hay recetas</div>
{% endif %}

{% endblock %}
