{% extends "base.html" %}

{% block titulo %} {{titulo}} {%endblock%}

{% block contenido %}

<form method='post'>
	Nombre:	<input type='text' name='user'>	
	<br>
	Password: <input type='password' name='passwd'>
	<input type='submit'>	
	
</form>

  {% for error in errores %}
  	<p>{{error}}</p>
	{% endfor %}	
{%endblock%}