{% extends "base.html" %}
{% load staticfiles %}
{% block contenido %}

	<h1>Recetas Nombre:</h1>

	{% if recetas %}
	
		{% for receta in recetas %}
			<div class="item">
			{% if receta.imagen %}
				<div class="imagen"><img src="{{MEDIA_URL}}{{ receta.imagen }}" width="200" height="200"></div>
			{% else %}
				<div class="imagen"><img src="{% static 'images/default.png' %}" alt="default"></div>
			{% endif %}
				<p class="nombre">{{ receta.nombre }}</p>
			</div>
		{% endfor %}
	
	{% else %}
		<div class="item">No hay recetas</div>
	{% endif %}

{% endblock %}