{% extends 'base.html' %}
{% block titulo %}Nuevo usuario{% endblock %}
{% block encabezado %} 
	<h1>Registra un nuevo usuario</h1>
{% endblock %}
{% block contenido %}
	<form id='formulario' method='post' action='addusuario.php'>
		<table><tr>
			<td>
				Nombre:
			</td><td>
				<input type='text' name='nombre'>
				
			</td>	
			</tr>
			
			<tr>
			<td>
				
				Contrasena:
				</td><td>
				<input type='password' name='con'>
			</td>	
			</tr>
			<tr>
			<td>
				</td><td>
				<p><input type='submit' value='Registrar'/></p>
			</td>	
			</tr>
			
		</table>
		
	</form>
{% endblock %}
