{% extends 'base.html' %}
{% block titulo %} Recetas registradas {% endblock %}

{% block css %}
  <style>
	img { width:100px; }
	
  </style>
{% endblock %}


{% block encabezado %}
  <h1>Nuestras recetas</h1>
{% endblock %}

{% block contenido %}

<ul>
	{% for dato in recetas %}
	
	<li>
	
		Elaboracion: {{dato.elaboracion}}

	</li><li>

		<p>Tipo : {{dato.tipo}}</p>


	  

	</li>
	<li>
		<img src='{{dato.imagen}}' width="200" height="200">
	</li>
	<li>
	<p>Registrado: {{ dato.fecha_creacion }} por {{dato.usuario}}</p>
	</li><li>
	<p><a href="/edit/{{dato.id}}">EDITAR</a></p>
	
	<p><a href="/eliminar/{{dato.id}}/">ELIMINAR</a></p>
	</li><li>
	{% endfor %}
</ul>
{% endblock %}




