{% extends 'base.html' %}
{% block titulo %} Recetas registradas {% endblock %}

{% block css %}
  <style>
	img { width:100px; }
	
  </style>
{% endblock %}


{% block encabezado %}
  <h1>Nuestras recetas</h1>
{% endblock %}

{% block contenido %}

<ul>
	{% for dato in recetas %}
	<li>
		<a href="receta.php?id={{dato.id}}">{{ dato.nombre }}</a></br></br></br>
		<img src='{{dato.imagen}}' width="200" height="200">
	</li>
	
	{% endfor %}
</ul>
{% endblock %}
